* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-size: 1.5rem;
}

.navbar nav ul {
    display: flex;
    list-style: none;
}

.navbar nav ul li {
    margin-left: 20px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.hero {
    position: relative;
    height: 80vh;
    background: url('../images/back-image.png') no-repeat center center/cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.buttons .btn {
    padding: 15px 20px;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: inline-block;
    min-width: 150px;
    text-align: center;
}

.buttons .btn.white {
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
}

.buttons .btn.clear {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.buttons .btn:hover {
    opacity: 0.9;
    transform: translateY(-5%);
}